In [21]:
import pandas as pd
import numpy as np
df = pd.read_csv("data buses.csv")
columns_daytime = ['WorkDay - 00:00-03:59', 'WorkDay - 04:00-05:59',
       'WorkDay - 06:00-08:59', 'WorkDay - 09:00-11:59',
       'WorkDay - 12:00-14:59', 'WorkDay - 15:00-18:59',
       'WorkDay - 19:00-23:59', 'Friday - 00:00-03:59', 'Friday - 04:00-05:59',
       'Friday - 06:00-08:59', 'Friday - 09:00-11:59', 'Friday - 12:00-14:59',
       'Friday - 15:00-18:59', 'Friday - 19:00-23:59',
       'Saturday - 00:00-03:59', 'Saturday - 04:00-05:59',
       'Saturday - 06:00-08:59', 'Saturday - 09:00-11:59',
       'Saturday - 12:00-14:59', 'Saturday - 15:00-18:59',
       'Saturday - 19:00-23:59']

weights = np.array([5] * 7 + [1] * 14)
print(weights)

df['VarianceOfDensity'] = df[columns_daytime].apply(np.nanvar, axis=1)

[5 5 5 5 5 5 5 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

In [22]:
df['VarianceOfDensity']

0         7.022500
1         0.002500
2        23.359600
3         8.961389
4         2.446875
           ...
5371     78.914000
5372    135.236875
5373    152.795764
5374     32.075621
5375     42.633018
Name: VarianceOfDensity, Length: 5376, dtype: float64

In [29]:
df['BusSize'].unique()
d = dict()
d['מידיבוס'] = 35
d['לא מוגדר'] = np.nan
d['מפרקי'] = 133
d['מיניבוס'] = 18
d['אוטובוס'] = 60

In [31]:
df['BusCapacity'] = df['BusSize'].apply(lambda s: d[s])

In [33]:
df.to_csv('bus_data_with_var_and_size.csv', encoding='utf-8-sig')

In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv("data buses.csv")
df['OperationSince'].unique()

array(['מעל שנה וחצי', 'לפני 12 חודשים', 'לפני 6 חודשים',
       'לפני 10 חודשים', 'לפני 18 חודשים', 'לפני 7 חודשים',
       'לפני 17 חודשים', 'לפני 5 חודשים', 'לפני 9 חודשים',
       'לפני 4 חודשים', 'לפני 13 חודשים', 'לפני 11 חודשים',
       'לפני 14 חודשים', 'לפני 8 חודשים', 'לפני 16 חודשים',
       'לפני 2 חודשים'], dtype=object)

In [17]:
import pandas as pd
import numpy as np
df = pd.read_csv("data buses pivoted.csv")
df['Time'] = df['Time'].apply(lambda s: s.split()[2])

In [18]:
df.to_csv('buses_pivoted.csv', encoding='utf-8-sig')

In [9]:
len(df[['RouteID', 'RouteDirection']].drop_duplicates())

5376

In [10]:
df[(df['AgencyName'] == 'דן') & ( df['RouteName']==3)]

,RouteID,RouteName,RouteDirection,AgencyName,ClusterName,Metropolin,OriginCityName,DestinationCityName,RouteType,ServiceType,...,Saturday - 00:00-03:59,Saturday - 04:00-05:59,Saturday - 06:00-08:59,Saturday - 09:00-11:59,Saturday - 12:00-14:59,Saturday - 15:00-18:59,Saturday - 19:00-23:59,MaxRidership,year,Q
4050,28003,3,1,דן,תל אביב,גוש דן,בני ברק,בני ברק,עירוני,מקומי מאסף,...,NaN,NaN,NaN,NaN,NaN,9.0,16.7,ימי חול - 12:00-14:59,2022,4
4051,28003,3,2,דן,תל אביב,גוש דן,בני ברק,בני ברק,עירוני,מקומי מאסף,...,NaN,NaN,NaN,NaN,NaN,12.4,15.2,ימי חול - 12:00-14:59,2022,4
5162,62003,3,1,דן,תל אביב,גוש דן,תל אביב יפו,תל אביב יפו,עירוני,מקומי מאסף,...,NaN,NaN,NaN,NaN,NaN,8.1,13.2,שישי - 12:00-14:59,2022,4
5163,62003,3,2,דן,תל אביב,גוש דן,תל אביב יפו,תל אביב יפו,עירוני,מקומי מאסף,...,NaN,NaN,NaN,NaN,NaN,9.9,13.2,ימי חול - 12:00-14:59,2022,4

In [70]:
df = pd.read_csv("data buses pivoted.csv")

In [71]:
df['dayType'] = df['Time'].apply(lambda s: s.split()[0])
df['timeInDay'] = df['Time'].apply(lambda s: s.split()[2])

In [72]:
df.iloc[19590]

Agency Name                              נתיב אקספרס
AVG Passengers Per Week                          0.4
Bus Size                                     אוטובוס
Bus Type                                   בינעירוני
Cluster Name                                   הגליל
Destination City Name                        בני ברק
Max Ridership                  ימי חול - 12:00-14:59
Metropolin                                 בין מחוזי
Operation Since                         מעל שנה וחצי
Origin City Name                                 צפת
Route ID                                       10981
Route Particular                                סדיר
Route Type                                 בינעירוני
Service Type                                    מהיר
Time                           WorkDay - 12:00-14:59
Unique Locations                                 NaN
Year                                            2022
AVGCommutersPerRide(Weekly)                     68.2
AVGPaysPerRide                                 200.0
Daily Passengers                               184.0
DailyRides(Tuesday)                               11
Num Of Alternatives                                3
Q                                                  4
Route Direction                                    2
Route Length                                   165.9
Route Name                                       981
Stations In Route                                 37
Unique Stations                                  NaN
Weekly KM                                    3119.25
Weekly Passengers                             1295.4
Weeky Rides                                       19
dayType                                      WorkDay
timeInDay                                12:00-14:59
Name: 19590, dtype: object